.machine-info-container {
    padding: 10px;   
}

i.md-icon.md-icon-font.machine-power-icon--on {
    color: green;
}

i.md-icon.md-icon-font.machine-power-icon--off {
    color: red;
}

i.md-icon.md-icon-font.icon-gpu {
    color:#769B00;
}

.gpu-card {
    margin: 10px;
}